* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: url(images/bg-curve-desktop.svg);
  }
  
  /* The nav bar command */
  
  #Nav {
    width: 100%;
    margin: 50px 10px 50px 80px;
    display: flex;
  }
  
  .logo {
    margin-left: 15px;
  }
  
  .the_three {
    padding: 10px 0 0 60%;
  }
  
  .first {
    text-decoration: none;
    font-family: "Raleway", serif;
    font-weight: 600;
    font-size: 14px;
  }
  .second {
    text-decoration: none;
    margin-left: 40px;
    font-family: "Raleway", serif;
    font-weight: 600;
    font-size: 14px;
  }
  .third {
    text-decoration: none;
    margin-left: 40px;
    font-family: "Raleway", serif;
    font-weight: 600;
    font-size: 14px;
  }
  /* The file information system command */
  
  .information {
    width: 50%;
    margin: 5% 10px 5% 90px;
    position: relative;
  }
  
  .illustration-1 {
    position: absolute;
    width: 60%;
    margin: 0 0 10% 110%;
  }
  .secure {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    font-family: "Raleway", serif;
    width: 72%;
  }
  /* The form and button command */
  .goods {
    display: inline-block;
    padding-top: 2%;
    border-radius: 2px;
  }
  .lolo {
    width: 220px;
    height: 28px;
    font-family: "Raleway", serif;
    padding-left:5%;
    display: block;
   
    
    
  }
  .get {
    width: 150px;
    height: 28px;
    background-color: hsl(224, 93%, 58%);
    border-radius: 2px;
    color: #fff;
    border-style: none;
    margin-left: 1%;
    font-family: "Raleway", serif;
  }
  
  .fylo {
    margin-top: 3%;
    font-size: 15px;
    font-weight: 400;
    font-family: "Open Sans", serif;
    line-height: 20px;
    color: dimgray;
    width:75%;
  }
  /* The productive section command */
  
  .information-1 {
    width: 100%;
    margin: 20% 10px 5px 90px;
    
  }
  
  .share {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
    font-family: "Raleway", serif;
    line-height: 20px;
    color: dimgray;
  }
  
  .visited {
    color: hsl(170, 45%, 43%);
    background-color: transparent;
    text-decoration: underline;
  }
  
  .illustration-2 {
   position: relative;
   width: 40%;
   margin: 0 0 10% 50%;
   
  }
  
  .attachments{
    width: 50%;
    position: absolute;
  }
  
  .productive {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    font-family: "Raleway", serif;
    margin-bottom: 3%;
   
  }
  
  .location {
    margin-bottom: 2%;
    font-size: 15px;
    font-weight: 400;
    font-family: "Open Sans", serif;
    line-height: 20px;
    color: dimgray;
    width: 75%;
  }
  
  /* the little white div command for productive section */
  
  .productivity {
    width: 25%;
    background-color: #fff;
    border-radius: 5px;
    margin: 17% 10px 0 10px;
    padding: 11px;
    position: absolute;
  }
  
  .man {
    border-radius: 100%;
    width: 40px;
    height: 40px;
  }
  
  .collaboration {
    margin-left: 25px;
    line-height: 30px;
    font-size: 12px;
    font-weight: 600;
    font-family: "Open Sans", serif;
    color: dimgray;
  }
  
  .man {
    position: absolute;
    margin: 15px 0 10px 20px;
  }
  
  .kyle {
    width: 30%;
    position: relative;
    margin: 20px 0 0 70px;
    font-weight: 900;
    font-size: 8px;
    font-family: "Raleway", serif;
  }
  .kyla {
    width: 50%;
    margin: 5px 0 0 70px;
    font-size: 10px;
    font-weight: 500;
    font-family: "Raleway", serif;
  }
  
  /* The sub_footer section command */
  .sub_footer {
    padding: 60px 20px 90px 30px;
    background-color: hsl(238, 22%, 44%);
    color: #fff;
  }
  
  /*the form and button command for sub_footer section*/
  
  .kamp {
    width: 300px;
    height: 30px;
    padding: 10px 5px 10px 5%;
   
  }
  
  .today {
    width: 40%;
    position: absolute;
    margin: auto auto 10px 5%;
  }
  
  .example {
    width: 40%;
    position: relative;
    margin: 20px auto auto 65%;
  }
  
  .free {
    width: 150px;
    height: 28px;
    background-color: hsl(224, 93%, 58%);
    border-radius: 2px;
    color: #fff;
    border-style: none;
    margin-top: 1.5%;
    font-family: "Raleway", serif;
    
  }
  
  .molly {
    border-radius: 2px;
  }
  
  .support {
    margin:0 10% 2% 0;
    font-weight: 700;
    font-family: "Raleway", serif;
    font-size: 25px;
  }
  
  .only {
    font-weight: 400;
    font-family: "Open Sans", serif;
    font-size: 12px;
    width: 73%;
    margin-right: 10%;
  }
  /* The footer command */
  .footer {
    padding: 5px 10px 50px 10px;
    background-color: hsl(243, 87%, 12%);
    color: #fff;
  }
  
  .master {
    width: 20%;
    margin: 1% 0 0 10%;
  }
  
  .popo {
    display: flex;
    width: 20%;
    margin: 1% 0 0px 10%;
  }
  .popa {
    display: flex;
    width: 20%;
    margin: 1.5% 0 0px 10%;
  }
  
  .logo_suv {
    color: #fff;
    margin-top: 25%;
  }
  
  .first_list {
    list-style-type: none;
    width: 20%;
  }
  .second_list {
    list-style-type: none;
    width: 20%;
  }
  .About {
    text-decoration: none;
    color: #fff;
  }
  
  .first_list {
    margin-left: 40%;
    line-height: 40px;
    position: absolute;
  }
  
  .second_list {
    position: relative;
    margin-left: 60%;
    line-height: 40px;
  }
  
  .loopy {
    width: 10%;
    position: absolute;
    margin: auto auto 90% 80%;
  }
  .facebook {
    margin-right: 7%;
  }
  /* Text and icons on footer */
  .num {
    margin-left: 5%;
  }
  .major_secure {
    width: 70%;
  }
  
  /* media quries */
  @media (max-width: 1000px) {
    body {
      background-image: url(images/bg-curve-mobile.svg);
    
    }
  
    /* the nav bar media quries command */
  
    #Nav {
      width: 100%;
      margin: 10px 10px 50px 2px;
      display: flex;
    }
    
    .logo {
      margin-left: 20px;
      width: 22%;
    }
    
    .the_three {
      padding: 10px 0 0 25%;
    }
  
    .first{
      font-weight: 600;
      font-size: 18px;
    }
    
    .second{
      margin-left: 20px;
      font-weight: 600;
      font-size: 18px;
    }
  
    .third{
      margin-left: 15px;
      font-weight: 600;
      font-size: 18px;
    }
  
    /* the information system media quries command */
  
  .information {
    width: 100%;
    margin: 2% 5px 2% 10px;
    position: initial;
  }
  
  
  
  .illustration-1 {
    position: initial;
    width: 100%;
    margin-left:5% ;
  }
  
  .secure{
    width: 80%;
    text-align: center;
    margin-left: 8%;
  }
  
  .fylo{
    width: 72%;
    text-align: center;
    margin: 20px 0 20px 12%;
    font-size: 15px;
    font-weight: 900;
  }
  
  
  
  .goods {
    display: block;
    padding-top: 10px;
  }
  
  .lolo {
    width: 300px;
    height: 50px;
    font-family: "Raleway", serif;
    padding-left: 5%;
    margin-left: 18%;
    
    
  }
  .get {
    width: 300px;
    height: 38px;
    background-color: hsl(224, 93%, 58%);
    border-radius: 2px;
    color: #fff;
    border-style: none;
    margin:5% 0 0 18%;
    font-family: "Raleway", serif;
  }
  
  /* productive section media quries command */
  .information-1 {
    width: 100%;
    margin: 5% 4px 2% 2px;
    padding-bottom: 90%;
  }
  
  .attachments {
    width: 100%;
    position: absolute;
    margin-top:80%;
    line-height: 10px;
    
   
    
  }
  
  .illustration-2 {
    position: relative;
    width: 100%;
   margin: 40px 0 80px 2%;
   
    
   }
  
   .productivity {
    width:80% ;
    height:auto ;
    background-color:#fff;
    border-radius: 5px;
    margin: 140% 10px 0 80px;
    padding:1% 5px 15px 20px;
    
  }
  
  .man {
    border-radius: 100%;
    width: 40px;
    height: 40px;
   
   
  }
  
  .collaboration {
    margin-left: 25px;
    line-height: 30px;
    font-size: 13px;
    font-weight: 900;
    
  }
  
  .productive {
    font-size: 25px;
    line-height: 30px;
    font-weight: 800;
    font-family: "Raleway", serif;
    margin:10% 0 0 0;
    width: 120%;
    margin-left: 10%;
    
   
  }
  
  .location {
    margin: 3% auto 0 auto;
    font-size: 15px;
    font-weight: 600;
    font-family: "Open Sans", serif;
    line-height: 20px;
    color: dimgray;
    
  
  }
  
  .visited {
    color: hsl(170, 45%, 43%);
    background-color: transparent;
    text-decoration: underline;
     margin:0 0 0 30%;
    
  }
  
  .visit{
    margin: 30% 0 30% 0;
  }
  
  
  .today {
    width: 40%;
    position: initial;
    margin: auto auto 10px 5%;
  }
  
  /* sub footer section command quries  */
  
  .example {
    width: 40%;
    position: inherit;
    margin: 20px auto auto 5%;
  }
  
  .only{
    width: 50%;
    font-weight: 400;
    font-size: 15px;
    margin-left: 20%;
   
  }
  
  .today{
    width: 100%;
    text-align: center;
    align-items: center;
   
    
  }
  
  .free{
    width: 300px;
    height: 38px;
    margin:5% 0 0 25%;
  }
  
  .kamp{
    width: 300px;
    height: 50px;
    margin:5% 0 0 25%;
  
  }
  
  .sub_footer {
    padding: 30px 20px 40px 30px;
    background-color: hsl(238, 22%, 44%);
    color: #fff;
  }
  
  /* unique footer quries command section */
  .footer{
    width: 100%;
    padding-bottom: 20%;
  }
  
  .master{
    width: 100%;
  }
  
  .logo_suv{
    margin: 5% 0 0 10%;
     
  }
  .popo {
    display: flex;
    width: 50%;
    margin: 3% 0 0px 22%;
  }
  .popa {
    display: flex;
    width: 50%;
    margin: 3% 0 0px 22%;
  }
  
  .first_list {
    margin:5% 0 0 22%;
    line-height: 40px;
    position: initial;
  }
  
  .second_list {
    position:initial;
    margin:5% 0 0 22%;
    line-height: 40px;
  }
  
  .loopy{
    width: 15%;
    position: relative;
    margin: 5% auto auto 45%;
  }
  
  
  
  }